body{background-color: #f1f1f1;}
.panel{
    margin-top: 4%;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    padding-bottom: 3%;
    margin-bottom: 6%;
    min-height: 400px;
}
.logotipo{    
text-align: center;   
margin-top: 4%; 
margin-bottom: 4%; 
}
.btn:hover{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
}
.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
}
.btn-ver {
    padding: 10px 30px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: .15em;
    border-radius: 40px;
    text-transform: uppercase;
    background: #f82b1c;
}

.btn-ver:hover {
    padding: 10px 30px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: .15em;
    border-radius: 40px;
    text-transform: uppercase;
    background: #610B0B;
    color: #ffffff;
}
.icon-pdf{color: red;}
.panel-documento{padding: 2%;}
#resp{display: none;}
.btn-right{float: right;}
.hide{display: none;}
.g-recaptcha div{margin: auto;}
.bg-dark{min-height: 50px;color: #ffffff;text-align: center;}
.footer{  
    position: fixed;
    bottom: 0px;
    width: 100%;}

@media only screen and (max-width: 600px) {
    body{font-size: 0.9em;}
    .btn{display: block;margin-bottom: 1%;}
    .btn:hover{display: block;}
    .btn-right{float: none;}
}