<template>
    <div>
        <table class="table">
            <tr>
                <thead>
                <th>1</th>
                <th>2</th>
                </thead>
            </tr>
            <tbody>
            <tr>                
            <td></td>
            <td></td>
            </tr>
            </tbody>
                
            
        </table>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
